@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf") format(ttf),
    url("../fonts/OpenSans-Bold.woff") format(woff),
    url("../fonts/OpenSans-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff2") format(woff2),
    url("../fonts/OpenSans-Regular.woff") format(woff),
    url("../fonts/OpenSans-Regular.ttf") format(ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.pixel-perfect {
  position: absolute;
  z-index: 10000;
  opacity: 0.5;
  left: 50%;
  margin-left: -830px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-image: url("../img/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  background-color: #000;
  margin-bottom: 42px;
}

.header::before,
.trend__card::before {
  content: "";
  background-color: #000;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  position: relative;
  z-index: 10000;
}

.wrapper-center {
  margin-left: auto;
  margin-right: auto;
  padding-right: 3%;
  padding-left: 3%;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  align-items: flex-end;
  flex-direction: column;
}

.menu {
  margin-bottom: 93px;
}

.menu-burger {
  width: 32px;
}

.logo-link {
  align-self: center;
}

.logo {
  width: 270px;
}

.header-title {
  text-transform: uppercase;
  color: white;
  font-size: 26px;
  font-weight: 700;
  font-family: OpenSans;
  line-height: 1.4;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
  padding-bottom: 210px;
}

.trends__title,
.products__title,
.popup__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.trends__title::after,
.products__title::after,
.popup__title::after {
  content: "";
  background-color: #b59f5b;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  display: block;
  margin-bottom: 24px;
}

.trend__card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 232px;
  padding-bottom: 15px;
  margin-bottom: 2px;
}

.trend-image1 {
  background-image: url("../img/trend1.jpg");
}

.trend-image2 {
  background-image: url("../img/trend2.jpg");
}

.trend-image3 {
  background-image: url("../img/trend3.jpg");
}

.trend-image4 {
  background-image: url("../img/trend4.jpg");
}

.trend__content {
  border: #b59f5b 3px solid;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 27px 20px;
}

.nav-menu {
  margin-bottom: 15px;
}

.trend_menu {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.link__item {
  color: #b59f5b;
}

.trend__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
}
/* main */
.main__content {
  margin-top: 42px;
  width: 350px;
}

.articles-list {
  margin-bottom: 50px;
}

.article__item {
  margin-bottom: 36px;
}

.article__item::after {
  content: "";
  background-color: #eee;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 328px;
  height: 3px;
  display: block;
}

.article__image {
  width: 100%;
}

.article__header {
  margin-top: 11px;
  margin-bottom: 10px;
}

.article__menu {
  list-style: none;
  text-transform: uppercase;
  line-height: 0.8;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.article__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  color: #0f0d0e;
}

.article__title:hover,
.last-post__title:hover,
.category__link:hover {
  color: #b59f5b;
}

.article__date {
  font-weight: 400;
  font-size: 12px;
  margin-right: 8px;
}

.article__author {
  font-weight: 700;
  font-size: 12px;
}

.article__text {
  line-height: 1.4;
  font-weight: 400;
  font-size: 15px;
  color: #0f0d0e;
}
/* aside */
.aside-container {
  margin-bottom: 45px;
}

.aside__header {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7;
}

.aside__header::after {
  content: "";
  background-color: #b59f5b;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  width: 66px;
  height: 3px;
  display: block;
}

.last-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}

.last-post__image {
  width: 70px;
}

.last-post__content {
  line-height: 0.3;
  margin-left: 19px;
}

.last-post__date {
  font-size: 12px;
}

.last-post__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 9px;
  color: #0f0d0e;
}

.last-posts__search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  margin-top: 59px;
}

.search {
  font-size: 14px;
  padding-left: 15px;
  height: 46px;
  width: 290px;
}

.search:focus,
.input__email:focus {
  outline: 1px solid #b59f5b;
}

.button_search {
  width: 50px;
  background-color: #b59f5b;
  border: none;
}

.magnifier {
  width: 18px;
}

.input__email {
  height: 45px;
  width: 100%;
  margin-bottom: 17px;
  padding-bottom: 8px;
  padding-left: 17px;
  font-size: 13px;
  color: #000;
}

.search,
.input__email {
  background-color: #f4f7f6;
  border: none;
}

.button__email {
  height: 49px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #b59f5b;
  margin-bottom: 44px;
}

.button__email:hover,
.button_search:hover,
.shop-button:hover {
  background-color: #323232;
}

.list-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding-top: 5px;
  margin-bottom: 52px;
}

.tag {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: OpenSans;
}

.tag__link {
  padding: 3px 6px;
  border: 3px solid #eee;
  color: #0f0d0e;
}

.tag__link:hover {
  border: 3px solid #b59f5b;
  background-color: rgba(244, 243, 241, 0);
}

.categories__list {
  margin-top: -15px;
}

.category {
  font-size: 15px;
  line-height: 46px;
  text-transform: capitalize;
  font-weight: 700;
}

.category::after {
  content: "";
  width: 328px;
  height: 1px;
  display: block;
  background-color: #eee;
}

.category__link {
  color: #0f0d0e;
}

.level {
  font-size: 12px;
  line-height: 2;
  color: #b59f5b;
  font-weight: 700;
  margin-left: 2px;
}

/* section product */

.product__item {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product__content {
  border: #b59f5b 3px solid;
  padding-bottom: 28px;
  padding-top: 29px;
  top: -33px;
  position: relative;
}

.product-header {
  margin-left: 18px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.product-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.product-link {
  color: #b59f5b;
  text-decoration: underline;
}

.product-info {
  display: flex;
  justify-content: space-between;
  width: 283px;
  margin-left: auto;
  margin-right: auto;
}

.price-container {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  align-self: center;
}

.old-price {
  text-decoration: line-through;
  font-size: 14px;
}

.new-price {
  font-size: 20px;
}

.price {
  font-size: 21px;
  font-weight: 700;
}

.shop-button {
  background-color: #b59f5b;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

/* footer */

.address {
  background-color: #eee;
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 30px;
}

.footer__list-social-logo {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  flex-wrap: wrap;
  gap: 27px;
}

.social-logo-link {
  width: 20px;
  height: 20px;
  display: block;
  flex-wrap: wrap;
}

.dribbble-logo {
  background-image: url("../svg/001-dribbble.svg");
}
.pinterest-logo {
  background-image: url("../svg/001-pinterest.svg");
}
.tumblr-logo {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  font-size: 12px;
  color: #999;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}
/* pop-up */
.b-container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100000000;
  top: 0;
  width: 100%;
  display: flex;
}

.popup {
  margin: auto;
  min-width: 330px;
  background-color: #fff;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

.popup__close {
  width: 26px;
  position: absolute;
  top: -30px;
  right: 0;
}

.popup__title {
  margin-top: 30px;
}

.popup__text {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  text-align: left;
  width: 280px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.text__choice {
  appearance: none;
  display: block;
  padding-left: 20px;
  width: 280px;
  height: 48px;
  border: none;
  background-color: #f3f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 11px;
  font-size: 12px;
  font-size: 400;
  color: #333;
}

.radio-choice {
  display: flex;
  gap: 20px;
}

.radio {
  appearance: none;
}

.radio_group {
  cursor: pointer;
}

.radio_group-text {
  font-size: 12px;
  font-weight: 400;
}

.radio_group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url("../svg/form-empty-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.radio:checked + .radio_group-text::before {
  background: url("../svg/form-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reference {
  width: 280px;
  border: none;
  background-color: #f3f7f6;
  padding-left: 20px;
  padding-bottom: 70px;
  min-height: 130px;
  display: block;
  margin-top: 9px;
  font-size: 12px;
  font-size: 400;
  color: #333;
}

.popup__button {
  width: 280px;
  height: 50px;
  background-color: #b59f5b;
  border: none;
  display: block;
  margin-top: 27px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.popup_disable {
  display: none;
}

@media (max-width: 767px) {
  .container,
  .list-articles,
  .article__content {
    max-width: 360px;
  }

  .header__menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .text__choice,
  .reference,
  .popup__button,
  .popup__text {
    min-width: 330px;
  }
  .popup__title {
    margin-top: 55px;
  }
  .popup__button {
    margin-bottom: 55px;
  }

  .container {
    max-width: 700px;
  }
  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
  }
  .header__nav {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 42px;
    padding-left: 10px;
    padding-right: 7px;
  }
  .header__menu {
    display: none;
  }
  .logo-link {
    align-self: flex-start;
  }
  .logo {
    width: 160px;
  }
  .header-title {
    font-size: 39px;
    width: 605px;
    padding-bottom: 115px;
  }

  .trends-list {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
  }

  .trends__title {
    font-size: 18px;
  }

  .trend__card {
    min-width: 383px;
    height: 245px;
  }

  .trends-list-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
  }

  .main__content {
    width: 700px;
    padding: 0;
    margin-top: 50px;
  }

  .main__content-block {
    display: flex;
    gap: 35px;
  }

  .articles-list,
  .article__item {
    width: 393px;
    margin-bottom: 41px;
  }

  .article__item:not(:nth-child(5))::after {
    width: 100%;
    margin-top: 21px;
  }

  .article__item:nth-child(5)::after {
    content: "";
    height: 0;
  }

  .article__title {
    margin-bottom: 27px;
  }

  .article__header {
    margin-bottom: 26px;
  }

  .aside-container {
    max-width: 270px;
  }

  .aside__header {
    font-size: 14px;
  }

  .last-posts__search {
    margin-top: 62px;
    margin-bottom: 63px;
  }

  .search {
    width: 222px;
    height: 47px;
  }

  .magnifier {
    width: 20px;
  }

  .input__email,
  .button__email {
    width: 100%; /*было 270px*/
  }

  .subscribe {
    margin-bottom: 16px;
  }

  .list-tags {
    gap: 18px;
  }

  .list-tags {
    margin-bottom: 68px;
  }

  .category::after {
    content: "";
    max-width: 270px;
  }

  .products__title {
    font-size: 19px;
  }

  .products-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  .product__item {
    width: 340px;
    height: 460px;
  }

  .product__image {
    width: 294px;
    height: 230px;
  }

  .product__content {
    width: 340px;
    height: 263px;
  }

  .footer {
    width: 700px;
    padding: 0;
  }

  .address {
    margin-top: 39px;
  }
}

@media (min-width: 1280px) {
  .header {
    background-image: url("../img/banner-bg.jpg");
  }

  .container {
    max-width: 1170px;
    padding: 0;
  }

  .header__nav {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
  }

  .menu {
    margin-bottom: 68px;
  }

  .menu-burger {
    display: none;
  }

  .header__menu {
    display: flex;
    gap: 32px;
    padding-top: 35px;
  }

  .header__nav-menu {
    color: #fff;
  }

  .header__nav-menu:hover {
    color: #b59f5b;
  }

  .header-title {
    font-size: 44px;
    line-height: 1.7;
    width: 680px;
    padding-top: 20px;
    padding-bottom: 125px;
  }

  .logo {
    width: 180px;
    margin-top: -28px;
  }

  .trends-list {
    padding-top: 16px;
  }

  .trends__title {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .trends-list-block {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
  }

  .trend__card {
    width: calc(25% - 6px);
    height: 320px;
  }

  .nav-menu {
    margin-bottom: 5px;
  }

  .trend__content {
    border: #b59f5b 3px solid;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 31px;
  }

  .trend__title {
    font-size: 20px;
  }

  .main__content {
    width: 1170px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 28px;
  }

  .main__content-block {
    display: flex;
    gap: 118px;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: -50px;
  }

  .article__item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 780px;
    margin-bottom: 60px;
  }

  .article__item::after {
    display: none;
  }

  .article__image {
    width: 382px;
  }

  .article__header {
    margin-top: 0;
    margin-bottom: 47px;
  }

  .article__menu {
    padding-bottom: 7px;
    font-size: 15px;
  }

  .article__title {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .article__text {
    margin-bottom: 13px;
  }
  /*  */

  .aside-container {
    max-width: 270px;
  }

  .aside__header {
    font-size: 14px;
  }

  .last-posts {
    padding-top: 2px;
  }

  .last-post__content {
    padding-top: 2px;
  }

  .last-posts__search {
    padding-top: 3px;
    margin-bottom: 64px;
  }

  .search {
    width: 230px;
  }

  .subscribe {
    margin-bottom: 15px;
  }

  .list-tags {
    gap: 18px;
  }

  .list-tags {
    margin-bottom: 68px;
  }

  .categories__list {
    margin-top: -16px;
  }

  .category::after {
    content: "";
    max-width: 270px;
  }
  /*  */

  .products__title {
    font-size: 20px;
  }

  .products-block {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  .product__item {
    width: calc(30% - 1px);
  }

  .product__content {
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
  }

  .footer {
    width: 1170px;
    padding: 0;
  }

  .copyright {
    margin-top: 71px;
  }
}
